.page7 {
    text-align: center;
    background-color: azure;
}

.page7-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2vw;
}



/* @media (min-width:200px) and (max-width:400px){
    .page7-section {
        gap:16px;
    }
    .page7-heading {
        font-size: 26px;
    }
    .page7-text {
        margin-bottom: 4vw;
    }
    .page7 {
        padding: 10px;
    }
} */
@media (min-width:200px) and (max-width:600px){
    .page7-section {
        display: flex;
        justify-content: space-around;
        flex-wrap: unset;
        gap: 5vw;
        width: fit-content;
        margin: 0 10px;
    }
    .page7-heading {
        font-size: 26px;
        position: sticky;
    left: 0%;
    }
    .page7-text {
        margin-bottom: 4vw;
        position: sticky;
    left: 0%;
    }
    .page7 {
        padding: 10px;
       overflow: auto;
    }
}