.page7 {
    padding: 6% 10%;
    text-align: center;
    background-color: azure;
}

.page7-section {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    gap: 3vw;
}

.page7-text {
    margin-bottom: 4vw;
}

.page7-heading {
    font-weight: bold;
    font-size: 2.7vw;
}
@media (min-width:200px) and (max-width:576px){
    .page7-section {
        gap:16px;
    }
    .page7-heading {
        font-size: 26px;
    }
    .page7-text {
        margin-bottom: 4vw;
    }
    .page7 {
        padding: 10px;
    }
}