.dgn-cardBody {
    width: 17.5rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 10px;
}
.dgn-textbody {
    padding-left: 20px;
    text-align: start;
    width: 100%;
}
.dgn-cardimage {
    height: 10rem;
    width:94%;
    object-fit: cover;
    margin: 3%;
}
.dgn-cardtitle {
    font-size: 13px;
    font-weight: bold;
    margin: 0;
}

.dgn-cardtext {
    font-size: 12px;
    font-family: system-ui;
    font-weight: 600;
}
@media (min-width:200px) and (max-width: 576px) {
    .dgn-cardBody {
        width: 83%;
        height: 15rem;
        margin: 0 10px;
    }
    .dgn-cardtitle {
        font-size:16px;
    }
    
    .dgn-cardtext {
        font-size: 14px;
    }
}