.dgn-cardBody {
    width: 17.5rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
background: #ffffff;
box-shadow: 17px 17px 34px #c7c7c7, -17px -17px 34px #ffffff;
}
.dgn-textbody {
    padding-left: 20px;
    text-align: start;
    width: 100%;
}
.dgn-cardimage {
    height: 10rem;
    width:94%;
    object-fit: cover;
    margin: 3%;
}
.dgn-cardtitle {
    font-size: 13px;
    font-weight: bold;
    margin: 0;
}

.dgn-cardtext {
    font-size: 12px;
    font-family: system-ui;
    font-weight: 600;
}
@media (min-width:200px) and (max-width: 400px) {
    .dgn-cardBody {
        width: 83%;
        height: 15rem;
        margin: 0 10px;
       
    }
    .dgn-cardtitle {
        font-size:16px;
    }
    
    .dgn-cardtext {
        font-size: 14px;
    }
}
@media (min-width:400px) and (max-width: 600px) {
    .dgn-cardBody {
        width: 47%;
        height: 14rem;
        margin-bottom: 10px;
        
    }
    .dgn-cardimage {
        min-height: 60%;
        width: 90%;
        margin: 5%;
    }
    .dgn-cardtitle {
        font-size:16px;
    }
    
    .dgn-cardtext {
        font-size: 14px;
    }
}