.cardBody {
    width: 19rem;
    height: 12rem;
    box-shadow: 0 0 12px #a2a2ee52;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  5px 5px 5px #d6d6d6,
                 -5px -5px 5px #ffffff;
}

.cardimage {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: inline-block;
    margin: 10px;
    box-shadow: 2px 2px 4px #969696, -2px -2px 4px #ffffff;
}

.cardtitle {
    font-size: 14px;
    font-weight: bold;
}

.cardtext {
    font-family: system-ui;
    font-size: 15px;
    overflow: auto;
}
@media (min-width:200px) and (max-width: 400px) {
    .cardBody {
        width: 90%;
        padding: 20px;
        height: auto;
        margin: 10px auto;
    }
    .cardtitle {
        font-size:18px;
    }
    
       
}
@media (min-width:400px) and (max-width: 600px) {
    .cardBody {
        width: 47%;
        padding: 20px;
        height: auto;
        /* margin-bottom: 0; */
       
        margin-bottom: 21px;
    justify-content: center;
    border-radius:10px;
    }
    .cardtitle {
        font-size:18px;
    }
    .cardtext {
        font-size: 15px;
        padding:unset;
        height: auto;
    }
    
       
}