.cardBody {
    width: 18rem;
    height: 12rem;
    box-shadow: 0 0 12px #a2a2ee52;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    margin-bottom: 10px;
}

.cardimage {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: inline-block;
    margin: 18px;
}

.cardtitle {
    font-size: 14px;
    font-weight: bold;
}

.cardtext {
    font-size: 14px;
    font-family: system-ui;
    padding: 0 32px;
}
@media (min-width:200px) and (max-width: 576px) {
    .cardBody {
        width: 100%;
        padding: 20px;
        height: auto;
        margin-bottom: 0;
        box-shadow: 0 0 4px #c5188147;
    }
    .cardtitle {
        font-size:18px;
    }
    
    .cardtext {
        font-size: 16px;
    }
    
}