.pkg-cardBody {
    width: 14rem;
    height: 17rem;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%), inset 0 0 10px #f6e9ec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}
.pkg-cardbody {
    text-align: start;
    width: 100%;
}

.pkg-cardimage {
    height: 50%;
    width: 88px;
    object-fit: cover;
    display: block;
    margin: 0.6px;
}
.pkg-cardboby{
    text-transform:capitalize;
}
.pkg-cardtitle {
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.pkg-day{
    color: gray;
}

.pkg-cardtext {
    font-size: 10px;
    text-align: start;
    font-weight: 600;
    text-transform: capitalize;
}
.cardcash {
    font-size: 18px;
    -webkit-text-stroke: thin;
    font-weight: revert;
}
.favorite{
    color: blueviolet;
}
.pkg-image-body {
    background: #f0ffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
    height: 180px;
    width: 180px;
}

.card-cash-like {
    display: flex;
    justify-content: space-between;
}


.cardtext1 {
    color: blueviolet;
}

.cardtext2 {
    color: orange;
}

.cardtext3 {
    color: deeppink;
}

.cardtext4 {
    color: indianred;
}
.lvertical-line {
    background: #009688;
    border-radius: 10px;
    display: inline-block;
}
.pkg-day {
    color: gray;
    width: 42px;
    height: max-content;
}
@media (min-width:200px) and (max-width: 576px) {
    .pkg-cardBody {
        width: 100%;
        height: 22rem;
        margin:0px 10px;
    }
    
    .cardcash {
        font-size: 22px;
    }
    
    .pkg-cardbody {
        text-align: start;
    }
    .pkg-image-body {
        height: 60%;
        width: 90%;
    }
    .pkg-cardimage {
        height: 50%;
        width: 49%;
    }
    .pkg-cardtext {
        font-size: 14px;
       
    }
    .pkg-cardtitle {
        font-size: 18px;
    }
    .pkg-day {
        width: auto;
        height: auto;
    }
    .lvertical-line {
        
        width: 4px;
        color: transparent;
    }
    .pkg-cardtext {
        font-size: 14px;
    }
}