.page2-content{
    position: relative;
}
.page2 {
    padding-top: 13rem;
}
.page2-content > img{
    height: 33rem;
    width: 100%;
    object-fit: cover;
}
.page2-texts {
    position: absolute;
    top: 7rem;
    padding-left: 6rem;
    text-align: start;
}
.page2-heading {
    font-size: 56px;
    font-weight: bold;
    text-transform: capitalize;
}
.page2-text {
    margin-top: 45px;
    font-size: 18px;
} 
.form-input {
    position: absolute;
    left: -1rem;
    bottom: -1.5rem;
    max-width: 50rem;
    display: flex;
    border-radius: 20px;
    align-items: center;
    background: whitesmoke;
    padding: 25px;
    border-radius: 29px;
    background: #ffffff;
    box-shadow: inset 6px 6px 18px #c4c4c4, inset -11px -8px 20px #ffffff, 4px 4px 12px rgb(150 108 176 / 30%);

}
.form-input .stline {
    border-right: 2px solid #d3d3d3a8;
    height: 70px;
    margin: 0 50px;
}

.design__card {
    position: absolute;
    top: -10rem;
    right: -4rem;
    border-radius: 14px;
    width: 20rem;
    height: 16rem;
}
.design__card .dgn-cardimage {
    border-radius: 10px;
    margin-top: 11px;
    width: 90%;
    height: 70%;
}
.design__card .logoimage {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-size: 80px;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0px 12px rgb(0 0 0 / 50%);
}

.design__card .page2-card {
    display: flex;
    margin-top: -13px;
    height: 50px;
    width: 100%;
    justify-content: space-evenly;
}

.design__card .image_logo {
    gap: 5px;
    display: flex;
    text-align: start;
    margin: 0;
}

.design__card .forsale {
    background: #6ad379;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    color: darkmagenta;
    cursor: pointer;
    width: 70px;
    margin: auto;
    float: right;
}
.design__card .forsale:hover{
    background-color: gray;
    color: aquamarine;
}
.design__card .forsale:active{
    background-color: #3a97c6;
    color: antiquewhite;
}

.design__card .forsale + p {
    font-size: 14px;
    font-weight: 800;
    margin: 0;
}
.price_sale {
    width: 80px;
}
.design__card .namehead {
    font-size: 13px;
    font-weight: 600;
    width: 140px;
    padding-top: 4px;
    text-transform: capitalize;
}
@media (min-width:200px) and (max-width:400px) {
    .page2{
        padding:0;
    }
    .page2-content>img {
        height: 28rem;
        width: 100%;
    }
    
    .page2-texts {

        top: 0rem;
        padding: 2rem;
    }
    
    .page2-heading {
        font-size: 28px;
        padding-right: 70px;
    }
    
    .page2-text {
        margin-top: 20px;
        font-size: 18px;
    }
    
    .form-input {
        width: 90%;
        display: block;
        margin: 40px auto;
        min-height: 11rem;
        padding: 14px;
        position: relative;
        left: 0;
        top: 0;
        box-shadow: 0 0 4px rgb(0 0 0 / 30%);
    }
    .form-input .entrybtn {
        padding: 0px;
        width: 80%;
        height: 40px;
        border-radius: 10px;
    }
    .form-input .stline {
        border-bottom: 2px solid #d3d3d3a8;
        height: 0;
        width: 38%;
        margin: 0;
        z-index: 8;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .design__card {
        position: static;
        width: 90%;
        margin: 10px auto;
        height: auto;
    }
    
}
@media (min-width:400px) and (max-width:600px) {
    .page2{
        padding: 0 0 10px;
    }
    .page2-content>img {
        height: 28rem;
        width: 100%;
    }
    
    .page2-texts {

        top: 0rem;
        padding: 2rem;
    }
    
    .page2-heading {
        font-size: 28px;
        padding-right: 70px;
    }
    
    .page2-text {
        margin-top: 20px;
        font-size: 18px;
        width: 50%;
    }
    
    .form-input {
        width: 80%;
        display: block;
        margin: 40px auto;
        min-height: 11rem;
        padding: 14px;
        position: relative;
        left: 0;
        top: 0;
        box-shadow: 0 0 4px rgb(0 0 0 / 30%);
    }
    .form-input .entrybtn {
        padding: 0px;
        width: 80%;
        height: 40px;
        border-radius: 10px;
    }
    .form-input .stline {
        border-bottom: 2px solid #d3d3d3a8;
        height: 0;
        width: 38%;
        margin: 0;
        z-index: 8;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .design__card {
        /* delete image  */
        position: static;
        width: 54%;
        margin: 10px auto;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}