
.page8-section {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.big-image {
    height: 280px;
    width: 400px;
    position: relative;
}
.small-image {
    height: 150px;
    width: 210px;
    position: absolute;
    bottom: 4px;
    left: 140px;
}
.page8-bottom-card {
    display: flex;
    width: 100%;
    height: 400px;
    margin-top: 100px;
    padding: 12px 50px;
    background-color:#966ed4;
}

.page8-bottom-card-image {
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    position: relative;
}

.page8-bottom-card-text {
    width: 40%;
    text-align: start;
}

.bottom-card-bold-text {
    margin: 50px 0px 20px 0;
    font-weight: 600;
    font-family: sans-serif;
}

.bottom-card-plain-text {
    font-weight: normal;
    font-size: 15px;
    opacity: .8;
}

.page8-btn {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    background-color: #ea495e;
}

@media (min-width:200px) and (max-width:576px){
    .page8-section {
        display:flex;
        gap: 16px;
        justify-content: center;
    }
    .page8{
        padding: 20px;
    }
    
    .big-image {
        height: 14rem;
        width: 18rem;
    }
    .small-image {
        height: 9rem;
        width: 14rem;
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
    }

    .page8-bottom-card {
        display: block;
        height: auto;
        margin-top: 20px;
        padding:40px 20px;
    }
    
    .page8-bottom-card-image {
        width: 100%;
        padding-top: 0;
    }
    
    .page8-bottom-card-text {
        width:auto;
        text-align:unset;
    }
    
    .bottom-card-bold-text {
        margin: 60px 0 10px;
        font-size: 20px;
    }
    
    .bottom-card-plain-text {
        font-size: 14px;
        padding: 0 20px;
    }
    
    .page8-btn {
        padding: 6px;
    }
}