.page3-itme4-body {
    display: flex;
    height: 22rem;
    width: 33rem;
    position: relative;
}
.item4 {
    position: absolute;
    border-radius: 14px;
    border: 4px solid whitesmoke;
    box-shadow: 0 1px 22px #824eb178;
    overflow: hidden;
}
.pg-item4-one {
    height: 15rem;
    width: 15rem;
    right: 30%;
    top: 27%;
}
.pg-item4-two {
    height: 11rem;
    width: 11rem;
    bottom: 34%;
}
.pg-item4-three {
    height: 17rem;
    width: 17rem;
    right: 0;
    top: -1px;
}
.pg-item4-four {
    height: 8rem;
    width: 8rem;
    right: 47%;
    top: 8%;
}
.pg3-item4-image {
    height: 100%;
    width: 100%;
}
@media (min-width:200px) and (max-width:576px){
    
    .item4 {
        border: 0;
    }
    .page3-itme4-body {
        height: 22rem;
        width: 100%;
    }
    .pg-item4-one {
        height: 11rem;
        width: 11rem;
        right: 30%;
        top: 27%;
    }
    .pg-item4-two {
        height: 8rem;
        width: 8rem;
        bottom: 44%;
    }
    .pg-item4-three {
        height: 13rem;
        width: 13rem;
        right: 0;
        top: -1px;
    }
    .pg-item4-four {
        height: 6rem;
        width: 6rem;
        right: 47%;
        top: 8%;
    }
}