.page9 {
    text-align: center;
    background-color: aliceblue;
}

.page9-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.page9-heading {
    text-align: start;
    font-family: serif;
    margin-bottom: 3rem;
}
@media (min-width:200px) and (max-width:400px){    
    .page9 {
        padding:20px;
    }
    .page9-heading {
        text-align: center;
        margin-bottom: 20px;
        position: sticky;
        left: 0;
    }
    .page9-section {
        justify-content: unset;
        gap: 20px;
    }
}
@media (min-width:400px) and (max-width:600px){    
    .page9 {
        padding: 20px;
        overflow: auto;
    }
    .page9-heading {
        text-align: center;
        margin-bottom: 20px;
        position: sticky;
        left: 0;
    }
    .page9-section {
        flex-wrap: unset;
        justify-content: unset;
        gap: 20px;
    }
}