.page5-section {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    gap: 0vw;
}

.page5-text {
    margin-bottom: 3rem;
}

.page5-heading {
    font-weight: bold;
    font-size: 26px;
}
@media (min-width:200px) and (max-width:400px){
    .page5-section {
        justify-content: space-between;
        padding: 0 10px;
    }
    .page5{
        padding-bottom: 3rem;
    }

}
@media (min-width:400px) and (max-width:600px){
    .page5-section {
        justify-content: space-between;
    }

    .page5 {
        padding:10% 10px;
    }
}